page-lock-screen {
	
}

ion-content {
  background: #387ef5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #387ef5, #38f5f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #387ef5, #38f5f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pin-container {
	margin-top: 90px;
	padding: 10px 15px;
	text-align:center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*h4 {
	color: #c5dbff;
}*/