page-lock-screen {
}

ion-content {
  background: #ffffff;
}

.pin-container {
	margin-top: 90px;
	padding: 10px 15px;
	text-align:center;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*h4 {
	color: #c5dbff;
}*/