page-splash {
 
    .scroll-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table, tr{
        flex: 25%;
        width: 50%;
        margin: auto;
        padding: 20px;
        align-items: center;
        max-width: 200px;
    }
 
}