page-home {

    ion-content {
        background: #ffffff;
    }

    .card {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .container {
        border-radius: 15px;
        -webkit-box-shadow: 4px 7px 39px 14px rgba(0,0,0,0.42);
        -moz-box-shadow: 4px 7px 39px 14px rgba(0,0,0,0.42);
        box-shadow: 4px 7px 39px 14px rgba(0,0,0,0.42);
        background-color: #F2F2F2;
        margin: auto;
        text-align: center;
    }

    .imagem {
        max-width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .imagem2 {
        max-width: 350px;
        display: block;
        width: 50%;
    }

    .imagem3 {
        max-width: 350px;
        width: 90%;
    }

    .row {
        height: max-content;
        margin: 20px;
        border-radius: 15px;
        background-color: thistle;  
    }

    .row2 {
        border-radius: 15px;
        background-color: thistle;  
    }

    .column {
        font-size: 80%;
        float: left;
        width: 50%;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .back{
        margin: auto;
        padding: 10px;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        margin: auto;
        padding: 5px;
    }
}
