<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="favorite">
    <ion-title text-center>Carta de Condução</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button (click)="toggleB1()" ion-button block style="background-color: #ffffff; color: #000000">Mostrar Vista Moderna</button>
    <button (click)="toggleB2()" ion-button block style="background-color: #ffffff; color: #000000">Mostrar Carta Tradicional</button>
    <div class="card" *ngIf="show1 && item">
          <ion-thumbnail *ngIf="item[0]">
              <img class="imagem" src="data:image/jpg;base64,{{item[0]}}">
          </ion-thumbnail>
          <div class="container">
          <p>
            <b>1.</b> {{item[1]}}
          </p>
          <p>
            <b>2.</b> {{item[2]}}
          </p>
          <p>
            <b>3.</b> {{item[3]}}
          </p>
          <p>
            <b>4a.</b> {{item['4a']}} <b>4b.</b> {{item['4b']}}
          </p>
          <p>
            <b>4c.</b> {{item['4c']}} <b>4d.</b> {{item['4d']}}
          </p>
          <p>
            <b>5.</b> {{item[5]}}
          </p>
          <p>
            <b>7.</b> 
            <ion-thumbnail *ngIf="item[7]">
                <img class="imagem" src="data:image/jpg;base64,{{item[7]}}">
            </ion-thumbnail>
          </p>
          <p>
            <b>8.</b> {{item[8]}}
          </p>
          <p>item
              <b>9.</b>
          </p>
          <ion-list *ngFor="let car of item[9]; let in = index">
            <p>
              <ion-icon name="car"></ion-icon>
              <b>classe:</b>  {{item[9][in]['classe']}}  
              <b>s:</b> {{item[9][in]['s']}} 
              <b>f:</b> {{item[9][in]['f']}} 
            </p>
          </ion-list>
        </div>
      </div>
      <div (click)="toggleTB()" class="row" *ngIf="show2 && item && tfront">
        <div class="column">
          <ion-thumbnail *ngIf="item[0]">
              <img class="imagem3" src="data:image/jpg;base64,{{item[0]}}">
          </ion-thumbnail>
        </div>
        <div class="column">
          <p>
            <b>1.</b> {{item[1]}}
          </p>
          <p>
            <b>2.</b> {{item[2]}}
          </p>
          <p>
            <b>3.</b> {{item[3]}}
          </p>
          <p>
            <b>4a.</b> {{item['4a']}} <b>4b.</b> {{item['4b']}}
          </p>
          <p>
            <b>4c.</b> {{item['4c']}} <b>4d.</b> {{item['4d']}}
          </p>
          <p>
            <b>5.</b> {{item[5]}}
          </p>
          <p>
            <b>7.</b> 
            <ion-thumbnail *ngIf="item[7]">
                <img class="imagem2" src="data:image/jpg;base64,{{item[7]}}">
            </ion-thumbnail>
          </p>
          <p>
            <b>8.</b> {{item[8]}}
          </p>
        </div>
      </div>
      <div (click)="toggleTF()" class="row2" *ngIf="show2 && item && tback">
        <div class="back">
          <table>
              <tr>
                <th>9.</th>
                <th>10.</th>
                <th>11.</th>
                <th>12.</th>
              </tr>
              <tr *ngFor="let car of item[9]; let in = index">
                <td>{{item[9][in]['classe']}} </td>
                <td><ion-icon name="car"></ion-icon></td>
                <td>{{item[9][in]['s']}} </td>
                <td>{{item[9][in]['f']}} </td>
              </tr> 
          </table>
        </div>
      </div>        
</ion-content>

