history {
    .item{
        list-style: none;
        max-width: 100%;
        background-color: #e6e6e6;
        font-family: Georgia, serif;
        border-radius: 5px;
        margin: 10px;
        padding: 5px;
    }
}
