history {
    .item{
        list-style: none;
        max-width: 100%;
        background-color: #e6e6e6;
        font-family: Georgia, serif;
        border-radius: 5px;
        margin: 10px;
        padding: 5px;
    }
} 
  ion-card {
    width: 100%;
    margin: auto;
    padding: 10px;
  }
  
  ion-card-content {
    text-align: center
  }
  
  ion-card-header {
    text-align: center
  }