qrcode {

    ion-content {
        background: #ffffff;
    }

    button{
        padding: 10px;
        border-radius: 8px;
    }

    .card {
        width: 100%;
        margin: auto;
        padding: 10px;
        text-align: center;
    }

    @media only screen and (max-width: 300px) {
        .button-block-md {
            font-size: 12px;
        }
    }

    .container {
        border-radius: 15px;
        -webkit-box-shadow: 4px 7px 39px 14px rgba(0,0,0,0.42);
        -moz-box-shadow: 4px 7px 39px 14px rgba(0,0,0,0.42);
        box-shadow: 4px 7px 39px 14px rgba(0,0,0,0.42);
        width: 100%;
        margin: auto;
        text-align: center;
    }

    img {
        max-width: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
