<ion-header>
    <ion-navbar color="favorite">
      <ion-title text-center>
          QR
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div class="card">
      <button (click)="toggleAllInfo()" ion-button block style="background-color: #ffffff; color: #000000">{{showAll ? "Partilhar toda a informação" : "Partilhar toda a informação"}}</button>
      <div *ngIf="showAll">
        <ngx-qrcode [qrc-value]="allinfo" [qrc-version]=5 qrc-errorCorrectionLevel = "L"></ngx-qrcode>
      </div>
    </div>
    <div class="card">
      <button (click)="toggle18()" ion-button block style="background-color: #ffffff; color: #000000">{{show18 ? "Sou maior de 18" : "Sou maior de 18"}}</button>
      <div *ngIf="show18">
        <ngx-qrcode [qrc-value]="output18"></ngx-qrcode>
      </div>
    </div>
    <div class="card">
      <button (click)="toggle21()" ion-button block style="background-color: #ffffff; color: #000000">{{show21 ? "Sou maior de 21" : "Sou maior de 21"}}</button>
      <div *ngIf="show21">
        <ngx-qrcode [qrc-value]="output21"></ngx-qrcode>
      </div>
    </div>
  </ion-content>
  